.game-page {
    background-color: #2b2a2a;
}

@media (max-aspect-ratio: 10/11) {
    .game-container {
        width: 100% !important;
    }
}

.game-container {
    position: relative;
    height: 0;
    padding-bottom: 117.6%;
    overflow: hidden;
    width: 40%;
    margin: auto;
}